*{
    margin: 0%;
    padding: 0%;
} 
body{
    background-image: url(picture.jpg);
    background-size: cover;
    color: rgba(0, 0, 0, 0.864);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    font-size:50px;
    font-style: italic;
    padding-top: 30px;
}
.container{
    padding-top: 20px;
    width: 320px;
    height: 420px;
    background-color: rgba(207, 195, 169, 0.438);
    color: rgb(65, 68, 70);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 25px;
}
.first input{
    background-color:rgba(207, 195, 169, 0.807) ;
    height: 35px;
    width: 300px;
    border-color: antiquewhite;
    border-radius: 15px;
}
